.progressbar {
    height: 20px;
    width: 80vw;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 149, 237, 0.3) 0px 7px 29px 0px;
    margin: 20px;
}

.progress {
    height: 100%;
    border-radius: 10px;
    background-color: rgb(100, 149, 237);
    font-size: 10px;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-right: 11px;
    color: white;
    transition: 1s ease;
}
